/*colors
$lighter: #F3EFEE;
$light: #B1824F;
$primary:#82BBAA;
$dark: #CC2A19;
$darker: #1A1E21;
*/

// Color system

$white: #fff !default;
//$gray-100: #f8f9fa !default;
$gray-200: #F0F0F0 !default;
//$gray-300: #dee2e6 !default;
//$gray-400: #ced4da !default;
//$gray-500: #adb5bd !default;
$gray-600: #696969 !default;
//$gray-700: #495057 !default;
$gray-800: #242424 !default;
//$gray-900: #212529 !default;
$black: #000 !default;

$primary: #6AB490; //#268AFF;
$primary-dark: #1A58A0;


// Fonts
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-base: 'Roboto',
$font-family-sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

// Reboot
*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
}

body {
    margin: 0;
    font-family: $font-family-base;
    //@include font-size($font-size-base);
    //font-weight: $font-weight-base;
    //line-height: $line-height-base;
    //color: $body-color;
    text-align: left;
    //background-color: $body-bg;
  }

// Mixins
@mixin btn {
    padding: 0.8rem 1.625rem;
    border-radius: 1.8rem;
    border: 3px solid $primary;

    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    text-decoration: none;
    color: $gray-800;

    cursor: pointer;
    transition: .3s;

    &:hover {
        border-radius: 0;
        letter-spacing: 0.245em;
    }
}


@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.jumbotron {
    min-height: 100vh;
    //padding: 2em;
    display: flex;
    //flex-direction: column;
    //flex-wrap: wrap;
    //justify-content: center;
    //align-content: center;
    //gap: 0.5em;
    background-color: $gray-200;
    //font-size: 1.5rem;

    &__container {
        margin: auto 0;
        padding: 5rem 1.5rem;
    }

    &__title {
        margin: 0 0 1.2rem 0;
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $primary;

        /*&::before {
            content: "";
            height: 0.5em;
            width: 0.5em;
            margin-left: -0.7em;
            margin-top: 0.4em;
            background-color: $darker;
            position: absolute;
            display: none;
        }*/
    }


    &__lead {
        margin-bottom: 3.4rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
        color: $gray-600;
    }

    &__img {
        width: 100%;
        margin-bottom: 2rem;
    }

    &__btns {
        margin: 0 -1.5rem 3.6rem -1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem 1.5rem;
    }

    &__btn-primary {
        @include btn;
        background-color: $primary;
    }

    &__btn-secondary {
        @include btn;
    }

    &__icon {
        height: 1em;
        width: 1em;
        margin-bottom: -0.15em;
        //fill: $lighter;
        display: none;
    }

    &__description {
        font-size: 1.5rem;
        line-height: 1.5;
        color: $gray-600
    }

}

.projects {
    &__container {
        padding: 0 1.5rem;
    }

    &__header {
        margin: 2rem -1.5rem 3.5rem -1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        color: $primary-dark;
    }

    &__card {
        margin-bottom: 2.5rem;
        border-radius: 1.5rem;
        background-color: $gray-200;
    }

    &__card_container {
        padding: 1.5rem 1.125rem;
    }

    &__thumbnail {
        width: 100%;
        border-radius: 1.5rem 1.5rem 0 0;
    }

    &__title {
        display: block;
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.2em;
        color: $primary-dark;
    }

    &__description {
        margin-bottom: 2.5rem;
        font-size: 1.5rem;
        line-height: 150%;
        color: $gray-600;
    }

    &__btns {
        margin-bottom: 1.9rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem 1.5rem;
    }

    &__btn-primary {
        @include btn;
        background-color: $primary;
    }

    &__btn-secondary {
        @include btn;
    }

    &__link {
        display: block;
        letter-spacing: 0.055em;
        text-align: center;
        text-decoration: none;
        color: $primary-dark;
    }
}

.footer {
    width: 100%;
    padding: 1rem;
    background-color: $gray-800;
    border-top: 1px solid $gray-800;
    
    //font-weight: 700;
    text-align: center;
    color: $gray-200;

    &__icon {
        height: 1.2em;
        width: 1.2em;
        margin-bottom: -0.15em;
        fill: $gray-200;
    }
}

img {
    //display: none;
}

.color_picker {
    display: none;//flex;
    justify-content: center;

    &__color {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}