/*colors
$lighter: #F3EFEE;
$light: #B1824F;
$primary:#82BBAA;
$dark: #CC2A19;
$darker: #1A1E21;
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 0.8rem;
  }
}

body {
  margin: 0;
  text-align: left;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jumbotron {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  background-color: #f0f0f0;
}
.jumbotron__container {
  margin: auto 0;
  padding: 5rem 1.5rem;
  max-width: 41rem;
}
.jumbotron__container * {
  animation: fadeIn 1s;
}
.jumbotron__desktop-img {
  display: none;
  padding: 5rem 1.5rem;
  width: 100%;
  max-width: 29rem;
  margin-bottom: 2rem;
  animation: shake 1.7s;
}
@media only screen and (min-width: 992px) {
  .jumbotron__desktop-img {
    display: block;
  }
}
.jumbotron__title {
  margin: 0 0 1.2rem 0;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #6ab490;
  /*&::before {
      content: "";
      height: 0.5em;
      width: 0.5em;
      margin-left: -0.7em;
      margin-top: 0.4em;
      background-color: $darker;
      position: absolute;
      display: block;
  }*/
}
.jumbotron__lead {
  margin-bottom: 3.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  color: #696969;
}
.jumbotron__img {
  width: 100%;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 992px) {
  .jumbotron__img {
    display: none;
  }
}
.jumbotron__btns {
  margin: 0 -1.5rem 3.6rem -1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1.5rem;
}
@media only screen and (min-width: 992px) {
  .jumbotron__btns {
    margin: 0 0 3.6rem 0;
    justify-content: left;
  }
}
.jumbotron__btn-primary {
  padding: 0.8rem 1.625rem;
  border-radius: 1.8rem;
  border: 3px solid #6ab490;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  text-decoration: none;
  color: #242424;
  cursor: pointer;
  transition: 0.3s;
  background-color: #6ab490;
}
.jumbotron__btn-primary:hover {
  border-radius: 0;
  letter-spacing: 0.245em;
}
.jumbotron__btn-secondary {
  padding: 0.8rem 1.625rem;
  border-radius: 1.8rem;
  border: 3px solid #6ab490;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  text-decoration: none;
  color: #242424;
  cursor: pointer;
  transition: 0.3s;
}
.jumbotron__btn-secondary:hover {
  border-radius: 0;
  letter-spacing: 0.245em;
}
.jumbotron__description {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #696969;
  animation-duration: 2s;
}
.jumbotron__email {
  margin: 2rem -2rem 0 -2rem;
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #1a58a0;
  letter-spacing: 0.145em;
  text-decoration: none;
  animation-duration: 2.5s;
  transition: 0.3s;
}
.jumbotron__email:hover {
  letter-spacing: 0.245em;
}
@media only screen and (min-width: 992px) {
  .jumbotron__email {
    margin: 2rem 0 0 0;
    text-align: left;
    text-transform: uppercase;
  }
}

.projects {
  display: none;
}
.projects__container {
  padding: 0 1.5rem;
}
.projects__header {
  margin: 2rem -1.5rem 3.5rem -1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: #1a58a0;
}
.projects__card {
  margin-bottom: 2.5rem;
  border-radius: 1.5rem;
  background-color: #f0f0f0;
}
.projects__card_container {
  padding: 1.5rem 1.125rem;
}
.projects__thumbnail {
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}
.projects__title {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #1a58a0;
}
.projects__description {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  line-height: 150%;
  color: #696969;
}
.projects__btns {
  margin-bottom: 1.9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1.5rem;
}
.projects__btn-primary {
  padding: 0.8rem 1.625rem;
  border-radius: 1.8rem;
  border: 3px solid #6ab490;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  text-decoration: none;
  color: #242424;
  cursor: pointer;
  transition: 0.3s;
  background-color: #6ab490;
}
.projects__btn-primary:hover {
  border-radius: 0;
  letter-spacing: 0.245em;
}
.projects__btn-secondary {
  padding: 0.8rem 1.625rem;
  border-radius: 1.8rem;
  border: 3px solid #6ab490;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  text-decoration: none;
  color: #242424;
  cursor: pointer;
  transition: 0.3s;
}
.projects__btn-secondary:hover {
  border-radius: 0;
  letter-spacing: 0.245em;
}
.projects__link {
  display: block;
  letter-spacing: 0.055em;
  text-align: center;
  text-decoration: none;
  color: #1a58a0;
}

.footer {
  display: none;
  width: 100%;
  padding: 1rem;
  background-color: #242424;
  border-top: 1px solid #242424;
  text-align: center;
  color: #f0f0f0;
}
.footer__icon {
  height: 1.2em;
  width: 1.2em;
  margin-bottom: -0.15em;
  fill: #f0f0f0;
}

.color_picker {
  display: none;
  justify-content: center;
}
.color_picker__color {
  width: 50px;
  height: 50px;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
